services:
  - type: web
    name: svrn-relayer
    runtime: node
    plan: free
    buildCommand: "npm install"
    startCommand: "npm start"
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: HELIUS_RPC_URL
        sync: false
      - key: PROGRAM_ID
        value: AL2krCFs4WuzAdjZJbiYJCUnjJ2gmzQdtQuh7YJ3LXcv
      - key: ARCIUM_PROGRAM_ID
        value: DBCtofDd6f3U342nwz768FXbH6K5QyGxZUGLjFeb9JTS
      - key: JWT_SECRET
        generateValue: true
      - key: CORS_ORIGIN
        sync: false

  - type: pserv
    name: svrn-relayer-cron
    runtime: node
    plan: free
    buildCommand: "npm install"
    startCommand: "npm run cron"
    envVars:
      - key: NODE_ENV
        value: production
      - key: HELIUS_RPC_URL
        sync: false
